<section class="container-fluid">
  <div id="create-content" class="row">
    <h1>Criar novo conteudo para o site</h1>
    <div class="col-md-10">
      <%= render "contents/form" %>
    </div>
  </div>
</section>
