<section class="container-fluid">
  <div id="hero" class="row">
    <div class="infos-hero col-md-12">
      <h1>Obrigado pela inscrição!</h1>
    </div>
    <div class="form-hero col-md-12 text-center">
        <p><%= link_to "Download eBook", home_pdf_path, class: "btn btn-md btn-success", target: "_blank" %><p>
    </div>
  </div>
</section>
