<section id="post-view" class="container-fluid">
  <div class="row post-view-content">
    <div class="col-md-9 col-xs-12 post-content well">
      <h1 class="text-center"> <%= @post.title %> </h1>
      <%= raw @post.body %>
    </div>
    <div id="form-posts" class="col-md-3 col-xs-12">
      <h2 class="text-center">Baixe nosso eBook!</h2>
      <%= render "leads/form" %>
    </div>
  </div>
  <h2>Comentários</h2>
  <div id="disqus_thread"></div>
  <script>


  var disqus_config = function () {
  this.page.url = 'http://empreendedorismoideias.com.br';  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = ''; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://empreendedorismoideias.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <script id="dsq-count-scr" src="//empreendedorismoideias.disqus.com/count.js" async></script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</section>
