<div class="container-fluid">
  <div class="col-xs-4">
      <div class="form-hero col-md-6">
        <%= render "posts/formherolayout2" %>
      </div>
  </div>
  <div class="col-xs-8">
      <div class="col-xs-12">
          <h1 class="text-center"> <%= @post.title %> </h1>
      </div>
      <div class="col-xs-12">
          <%= raw @post.body %>
      </div>
  </div>
</div>