footer {
  width: 100%;
  padding-top: 40px;
  padding-left: 15px;
  background-color: #1a1a23;
  padding-bottom: 50px;
}

#logo-footer {
  width: 100%;
}

.sec-footer-left {
  padding-left: 30px !important;
}

.sec-footer-mid {
  padding: 0px 30px !important;
}

.sec-footer-right {
  padding-right: 30px !important;
}

#social-icons {
  width: 100%;
  padding: 30px;
}

#social-icons i {
  font-size: 36px;
  color: #5038fc;
}
