$break-small: 360px;
$break-medium: 768px;
$break-large: 1280px;

@media only screen and (max-width: $break-small) {
  section a {
    width: 100%;
  }
  #social-icons ul li {
    padding: 10px 20px !important;
    display: inline-block !important;
  }
}
@media only screen and (max-width: $break-large) and (min-width: $break-medium) {
  #social-icons ul li {
    padding: 10px 20px !important;
    display: inline-block !important;
  }
}
@media only screen and (min-width: $break-large) {
  #social-icons i {
    font-size: 50px;
    color: #5038fc;
  }

  .sec-footer-mid, .sec-footer-right {
    margin: 0px 0px !important;
  }

  #social-icons ul {
    list-style-type: none;
    margin: 20px;
    text-align: center;
    padding-left: 0px !important;
  }

  #social-icons ul li {
    display: inline-block;
    padding: 10px 20px;
  }
}

footer {
  display:inline-block;
  width: 100%;
  padding-top: 40px;
  padding-left: 15px;
  background-color: #1a1a23;
  padding-bottom: 30px;
}

#logo-footer {
  width: 100%;
  padding-top: 30px;
  padding-right: inherit;
}

#social-icons i {
  font-size: 50px;
  color: #5038fc;
}

#social-icons ul {
  list-style-type: none;
  text-align: center;
}
