$break-small: 360px;
$break-medium: 768px;
$break-large: 1280px;

@media screen and (max-width: $break-small) {
  section a {
    width: 100%;
  }
}
@media screen and (min-width: $break-medium) {
  .sec-footer-left {
    padding-left: 30px !important;
  }

  .sec-footer-mid {
    padding: 0px 30px !important;
  }

  .sec-footer-right {
    padding-right: 30px !important;
  }
  #social-icons ul {
    float: right;
    padding: 0 50px;
  }
}
@media screen and (min-width: $break-large) {
}


footer {
  display:inline-block;
  width: 100%;
  padding-top: 40px;
  padding-left: 15px;
  background-color: #1a1a23;
  padding-bottom: 30px;
}

#logo-footer {
  width: 100%;
  padding-top: 25px;
  padding-right: inherit;
}

#social-icons {
  padding: 30px;
}

#social-icons i {
  font-size: 36px;
  color: #5038fc;
}

#social-icons ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

#social-icons li {
  padding-left: 60px;
}

#social-icons ul li {
  display: inline-block;
}
