
#hero {
  top: 0;
  background-color: #5038fc;
  height:500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  position: relative;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.infos-hero, .form-hero {
  top: 40%;
  margin-top: -40px;
}

.infos-hero h1 {
  text-align: center;
}

.form-group_name {
  white-space : nowrap;
}

.form-group_name .lead_name {
  display: inline-block;
  width: 50%;
  padding-right: 10px;
}

.form-group_name .lead_surname {
  display: inline-block;
  width: 50%;
  padding-right: 10px;
}

.form-group_email {
  display: inline-block;
  width: 100%;
  padding-right: 5px;
}

.form-group_btn {
  text-align: center;
}

.form-group_btn input {
  background-color: #1a1a23;
  color: white;
  border: 0px;
  font-size: 24px;
}

#basic-infos {
  top: 0;
  background-color: #31313b;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  position: relative;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#basic-infos {
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

#box-basic-infos {
  padding-left: 70px;
  padding-right: 30px;
}

#box-basic-infos p {
  margin-top: 40px;
}


#box-img-basic-info {
  padding-left: 30px;
  padding-right: 50px;
}

#basic-infos img {
  height: auto;
  width: 100%;
}

#minibox1-basic-infos {
  display: inline-block;
  width: 50%;
  margin-top: 50px;
}

#minibox1-basic-infos p {
  margin-top: 20px;
}

#minibox1-basic-infos img {
  float: left;
  width: 30%;
  margin-right: 20px;
  margin-top: 20px;
}

#minibox2-basic-infos {
  display: inline-block;
  width: 50%;
  margin-top: 50px;
}

#minibox2-basic-infos p {
  margin-top: 20px;
}

#minibox2-basic-infos img {
  float: left;
  width: 30%;
  margin-right: 20px;
  margin-top: 20px;
}

#carrossel {
  height: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #5038fc;
}

#carrossel h2 {
  margin-bottom: 50px;
}

#carrossel p {
  margin-bottom: 30px;
}

#slider {
  padding-bottom: 30px;
  position: relative;
  background-color: #5038fc;
}

.slick-dots {
  bottom: 0px !important;
}

.slick-dots li button::before {
  height: 50px;
  font-size: 20px !important;
}

.slick-slider {
  margin-bottom: 0px !important;
}

.left-arrow, .right-arrow {
  width: 50px;
}

.left-arrow:hover, .right-arrow:hover {
  cursor: pointer;
}

.right-arrow {
  position: absolute;
  right: 200px;
  top: 50%;
  transform: translateY(-50%);
}

.left-arrow {
  position: absolute;
  left: 200px;
  top: 50%;
  transform: translateY(-50%);
}
