$break-small: 360px;
$break-medium: 768px;
$break-large: 1280px;

@media screen and (max-width: $break-small) {
  #without-posts {
    padding-top: 50px !important;
  }
}
@media screen and (min-width: $break-small) and (max-width: $break-medium) {
  #without-posts {
    padding-top: 50px !important;
  }
}
@media screen and (min-width: $break-large) {
}

#all-posts {
  padding-top: 50px;
  text-align: center;
  background-image: image-url('BG_header_home_efect.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 550px;
}

#post-list {
  float: left;
}

#without-posts {
  text-align: center;
  background-image: image-url('BG_header_home_efect.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 550px;
  position: relative;
}

.nopost-msg{
  position: absolute;
  display: block;
  margin-bottom: 150px;
  top: 200px;
  transform: translateY(-50%);
}

.btn-post {
  background-color: #1a1a23 !important;
  color: white !important;
  border: 0px !important;
  font-size: 24px !important;
}

#form-posts {
  padding-top: 50px;
  padding-bottom: 30px;
  display: inline-block;
}

.blog-post {
  padding: 0 5px 0 5px;
  position: relative;
  display: inline-block;
}

.blog-post a i {
  position: absolute;
  display: inline-block;
  font-size: 30px;
  color: white;
}

.post-delete {
    right: 20px;
}

.post-edit {
    right: 60px;
}

.well {
  background-color: #31313b !important;
  border: 0px !important;
}

.well a h2 {
  word-wrap: break-word;
}

.well a h2:hover {
  text-decoration: none;
  color:  #5038fc;
}

#new-post {
  background-image: image-url('BG_header_home_efect.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 30px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#post-view {
  background-image: image-url('BG_header_home_efect.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 30px;
  padding: 30px;
}

.post-content {
  text-align: left;
  position: relative;
  background-color: #5038fc;
}

.post-content::before {
  content: " ";
  display: inline-block;
  height: 100%;
  width: 1%;
  vertical-align: middle;
}
.post-content p {
  display: inline-block;
  vertical-align: middle;
}

.post-content h1 {
  margin-bottom: 30px;
}

.post-view-content{
  margin-top: 30px;
}
