
#all-posts {
  padding-top: 50px;
  text-align: center;
  background-image: image-url('BG_header_home_efect.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#without-posts {
  padding-top: 30px;
  background-color: #5038fc;
  text-align: center;
}

.blog-post {
  padding: 0 5px 0 5px;
  position: relative;
}

.blog-post a i {
  position: absolute;
  display: inline-block;
  font-size: 30px;
  color: #31313b;
}

.post-delete {
    right: 20px;
}

.post-edit {
    right: 60px;
}

.well {
  background-color: #5038fc !important;
}

#new-post {
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 30px;
  background-color: #5038fc;
}

#post-view {
  padding: 50px;
}

.post-content {
  text-align: left;
  position: relative;
  background-color: #5038fc;
}

.post-content::before {
  content: " ";
  display: inline-block;
  height: 100%;
  width: 1%;
  vertical-align: middle;
}
.post-content p {
  display: inline-block;
  vertical-align: middle;
}

.post-content h1 {
  margin-bottom: 30px;
}
