$break-small: 360px;
$break-medium: 768px;
$break-large: 1280px;

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        border-color: #5038fc !important;
    }
    .navbar-toggle:hover {
      background-color: #5038fc !important;
    }
    .icon-bar {
      background-color: white !important;
    }
    .navbar-toggle:focus {
      background-color: #5038fc !important;
    }
    .navbar-collapse {
      background-color: #1a1a23;
      float: right;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}

@media screen and (max-width: $break-small) {

}
@media screen and (min-width: $break-medium) {
  h1 {
    font-size: 48px;
  }
}
@media screen and (min-width: $break-large) {
}

body {
  padding-top: 70px;
}
.notification {
  float: right;
  top: 80px;
  right: 30px;
  position: absolute;
  width: 400px; //passar p/ mobile
  z-index: 100;
  margin-top: 30px;
  margin-bottom: 3px;
  padding: 8px;
  text-align: center;
}

abbr {
  display: none;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-weight: 300;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  color: white;
  font-weight: 300;
}
h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: white;
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: white;
}

label {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: white;
}

input {
  font-family: 'Raleway', sans-serif;
  -webkit-border-radius: 13px !important;
  -moz-border-radius: 13px !important;
  border-radius: 13px !important;
}

select {
  font-family: 'Raleway', sans-serif;
  -webkit-border-radius: 13px !important;
  -moz-border-radius: 13px !important;
  border-radius: 13px !important;
}

select {
  font-family: 'Raleway', sans-serif;
  -webkit-border-radius: 13px !important;
  -moz-border-radius: 13px !important;
  border-radius: 13px !important;
}

ul li {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: white;
}

.navbar {
  height: 100px;
  margin-bottom: 0px !important;
  background-color: #1a1a23 !important;
  border: 0px !important;
  border-radius: 0px !important;
}
.navbar ul {
  display: inline-block;
  float: right;
  margin-right: 50px;
}

.navbar-collapse {
  position: relative;
}

.navbar li {
  font-size: 24px;
  padding: 30px 10px;
}
.navbar-nav li a {
  color: white !important;
}
.navbar-nav li a:hover {
  color: #5038fc !important;
}

.navbar-brand {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px !important;
}

.navbar-header button {
  margin: 30px;
}


.destak-text {
  font-weight: 800;
}

#dsq-content {
  color: white !important;
}

.btn-default, .btn-default:hover, .btn-default:visited, .btn-default:active{
  color: #fff;
  border-style: none;
  background-color: inherit;
}
