$break-small: 360px;
$break-medium: 768px;
$break-large: 1280px;

@media screen and (max-width: $break-small) {
}
@media screen and (min-width: $break-medium) {
}
@media screen and (min-width: $break-large) {
}
