<footer class="container-fluid">
  <div class="row">
    <section class="col-md-4 sec-footer-left">
      <%= image_tag("placeholder-hero.png", id: 'logo-footer') %>
    </section>

    <section class="col-md-4 sec-footer-mid">
      <h3>Titulo h3 onde as coisas principais</h3>
      <p>Ut anim offendit, summis incurreret aliquip, ita quis praetermissum qui veniam
      ex ita veniam quibusdam, noster occaecat ne tamen legam a se export fabulas quo
      fugiat offendit praetermissum in constias legam quibusdam. Cillum quamquam ex
      enim tempor, iudicem familiaritatem e pariatur, de enim quorum sed admodum de
      expetendis labore aut constias praetermissum.</p>
    </section>

    <section class="col-md-4 sec-footer-right">
      <h3>Titulo h3 onde as coisas principais</h3>
      <p>Ut anim offendit, summis incurreret aliquip, ita quis praetermissum qui veniam
        ex ita veniam quibusdam, noster occaecat ne tamen legam a se export fabulas quo
        fugiat offendit praetermissum in constias legam quibusdam.</p>
    </section>
    <section id="social-icons">
      <ul class="col-md-4 col-sx-12">
        <li class="col-sx-4">
          <a href="https://www.facebook.com/empreendedorismoideias/" target="_blank"><%= fa_icon "facebook fa-4x" %></a>
        </li>
        <li class="col-sx-4">
          <a class="col-sx-4" href="#" target="_blank"><%= fa_icon "linkedin fa-4x" %></a>
        </li>
        <li class="col-sx-4">
          <a class="col-sx-4" href="https://www.youtube.com/channel/UCKRkAsOZMW9bjXWZbVDiURw" target="_blank"><%= fa_icon "youtube-square fa-4x" %></a>
        </li>
      </ul>
    </section>
  </div>
</footer>
